
.navbar{
  height: 2.2rem;
  background: black;
}
#dropdownMenuButton{
  font-size: small;
  color: rgb(187 175 175);
  border: none;
}

#dropdown:hover{
  color: #17a2b8;
}
.navbar-nav{
  margin-right: 3rem;
  font-size: small;
}
.navbar-pri{
  background: cornsilk;
  height: 3rem;
  display: contents;
}
.menu-item{
  font-size: small;
    padding: 1rem;
    font-weight: 600;
}
.nav-link{
margin-left: 10rem;
font-size: small;
align-items: inherit;
color: rgb(204, 185, 185);
}
.nav-link:hover{
  background-color:#17a2b8!important
  }


  .is-active{
    color: rgb(76 71 71);
  }

.is-active:hover{
  color: #17a2b8;
}

.fash{
  color: rgb(76 71 71);
}

.form-control{
  height: 50%;
}

.dropdown-toggle{
  height: 2.2rem;
  background: black;
}

.navbar-banner{
  display: -webkit-box;
    border: none;
    height: 3rem;
}

.tab{
  color: rgb(77, 70, 70);
  line-height : 5px;
  font-weight: 500;
}
.tab-tit{
  font-weight: 700;
  color: rgb(99 89 89);
}
li{
  line-height: 25px;
}
/* -------------------section fanpage style -------------------------  */
.cont{
  background-color: rgb(54, 52, 52);
  height: 10rem;
  padding: 4rem;
}
.title-big{
  color: white;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1px;
}
.title-big-two{
  color: white;
  font-size: x-large;
}

.cont2{
  background-color: rgb(46, 145, 243);
  height: 10rem;
  padding: 4rem;
  display: flex;
}
.title-big-tree{
  color: white;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1px;
}
.title-big-four{
  color: white;
  font-size: x-large;
}

.card{
  font-size: small;
  background-color: rgb(241 255 253);
  border: none;
}

#footer{
  background-color: rgb(247 253 252);
}

.tab{
  color: rgb(77, 70, 70);
  line-height : 5px;
  font-weight: 500;
}
.tab-tit{
  font-weight: 700;
  color: rgb(99 89 89);
}
li{
  line-height: 25px;
}
